.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.navbar.bg-wrinkled {
  background-image: linear-gradient(135deg, rgb(30, 11, 54), rgb(202, 55, 130) 75%);
}

.btn-wrinkled {
  color: #fff;
  background-color: #9b2b6d;
  border-color: #9b2b6d
}

.btn-wrinkled:hover {
  color: #fff;
  background-color: #7D1F5B;
  border-color: #7D1F5B;
}

.input-group.input-group-lg > .form-control.splice-input {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.option-close-button {
  top: 0.7rem;
  right: 0.8rem;
}

.general-cover {
  width: 100%;
  height: 209px;
  max-height: 209px;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer p {
  margin-bottom: .25rem;
}
